<div class="mdl-cell--12-col self_padding-20">
	<h1>Dokopro</h1>

<a href="http://rss-reader-live.cloudapp.net/dokopro/front/*" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Release Page beta</a>
<a href="https://github.com/shghdyji/dokopro" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
	<hr>
	<h2>概略</h2>

	<hr>
	<p>プログラミングを勉強するためのE-learning。<br>
		知識のインプットとアウトプットの機能をつける。<br>
		チームで何かを作成するための機能をつける。</p>

	<h2>使用している技術</h2>

	<hr>
	<h3>サーバーサイト</h3>

	<p>言語:Java(jsp servlet)<br>
		フレームワーク:なし,内部でリフレクションを行ってる。<br>
		データベース:mysql</p>

	<h3>フロントサイト</h3>

	<p>言語:html,css,javascript<br>
		フレームワーク:bootstrap<br>
		ライブラリ:masonry,jquery</p>

	<h2>機能詳細</h2>

	<hr>
	<h3>ユーザ登録機能</h3>

	<p>フロントとサーバーサイドのダブルチェック(だったはず)<br>
		サーバサイドは確実にチェックしてる。</p>

	<ul>
		<li>email,password,usernameにたいして字数制限のチェック</li>
		<li>passwordは確認用のパスワードとの一致のチェック</li>
		<li>emailは正規表現によってemailの形式になっているかのチェック</li>
		<li>パスワードはSHA512で暗号化</li>
	</ul>

	<h3>機能の呼び出し</h3>

	<p>リクエストURLをパースしてJavaのクラスおよび、メソッドを動的に呼び出す。</p>

	<div class="code-frame">
		<div class="code-lang"><span class="bold">MethodInvoke.java</span></div>
		<div class="highlight"><pre><code class="java">private void doAction(Class&lt;?&gt; controllerClass, BaseController controller,
					HttpServletRequest request, HttpServletResponse response,
					String actionPath) throws NoSuchMethodException, SecurityException,
					IllegalAccessException, IllegalArgumentException,
					InvocationTargetException {

					Method actionMethod = controllerClass.getMethod(
					convertToActionName(actionPath), HttpServletRequest.class,
					HttpServletResponse.class);

					actionMethod.invoke(controller, request, response);
					}
				</code></pre></div>
	</div>

	<h3>Ajaxを使ったチェックボックス機能</h3>

	<p>ajaxを使用して動
	</div>

