
<div class="mdl-cell--12-col self_padding-20">
	<h1>Kimono Ecommerse in Malaysia</h1>
  <p>このアプリはマレーシアにecommerce事情に解決策となるべく開発中です</p>
  <p>機能的にはchatベースで行うecommeceです</p>
  <a href="http://my-kimono.cloudapp.net" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">デモページ</a>
  <h3>開発中のため現在終わっているところまで</h3>
  <hr></hr>
  <h4>Client Server</h4>
  <h5>Node.js Express</h5>
	<a href="https://github.com/shghdyji/kimono_release" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
  <p>サーバーサイドでAPIにrequestを送りjsonで受け取りviewにレンダリング</p>
  <a href="https://app.apiary.io/kimono/editor"></a>
  <hr></hr>
  <h4>Restful API Server</h4>
	<a href="https://github.com/shghdyji/kimono_api" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
  <p>Express Mongodb mongoose によって構成されたRestful API</p>
  <hr></hr>
  <h4>Image Server</h4>
	<a href="https://github.com/shghdyji/play_projects" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
  <p>node.jsはシングルスレッドで動くので画像の出力には向かない.したがってPlayFramework(java)に寄って画像を扱う</p>
  <hr>Chat Server</hr>
  <h4>Chat Server</h4>
	<a href="https://github.com/shghdyji/kimono_chat" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
  <p>Chat Serverにはsocket.ioを使用して実装</p>
</div>

