
<div class="mdl-cell--12-col self_padding-20">
	<h1>Ecommerse with Chat |Kimono|</h1>

	<a href="http://my-kimono.cloudapp.net" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Release Page beta</a>
	<a href="https://github.com/shghdyji/kimono_release" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
</div>

