
<div class="mdl-cell--12-col self_padding-20">
<h1>IT武者修行</h1>
<hr>
<h2>一緒に開発する人募集してます</h2>

<hr>
<p>運用以外は全て無料で行います。運用はサーバーのレンタルなど別途費用がかかるので無料ではできません。</p>

<h2>なぜやるのか。</h2>

<hr>
<p>僕自身の技術の向上のためです!</p>

<h2>そのサービスの収益は？</h2>

<hr>
<p>収益が出るようなサービスの場合でも報酬はいただきません。ただ僕が作ったということを宣伝していただけると助かります。</p>

<h2>どういったサービスを作ってくれるのか？</h2>

<hr>
<h3>デザイン</h3>

<ul>
<li>ラフスケッチをいただけたらだいたいそのイメージ通りに作ります。</li>
<li>僕はデザイナーではないのであまり凝ったものは困ります。</li>
<li>foundationというcssフレームワークを使ってさくせいすることになります。</li>
</ul>

<h3>セキュリティ</h3>

<ul>
<li>通常のセキュリティ対策は施します。

<ul>
<li>パスワードの暗号化</li>
<li>通信する際の暗号化</li>
<li>フォームからの送信に対するチェック</li>
<li>SQLインジェクション,XSS</li>
</ul>
</li>
</ul>

<h3>機能例</h3>

<ul>
<li>位置情報</li>
<li>AR(拡張現実)</li>
<li>業務システム</li>
<li>顔認識,感情判別</li>
<li>チャット</li>
<li>twitter,facebook連携</li>
<li>ユーザの評価によるレコメンデーションシステム</li>
</ul>

<h3>デバイス</h3>

<ul>
<li>デスクトップアプリ</li>
<li>スマホアプリ</li>
</ul>
				</div>
