<div class="mdl-cell--12-col self_padding-20">
	<h2 >自己紹介<br></h2>
	<p>自己紹介は古い可能性があります。</p>
	<h2 >経験のある技術<br></h2>
	<hr>
		Html ,Css, Javascript, jQuery, Node.js, Java, Sass, Apache, Nginx, C, Azure, Photoshop, UML diagram, Objective-C, Ruby, Ruby on Rails, Mysql, Oracle SQL, Linux(CentOS, Ubuntu), Android( java ), shellscript, wordpress
		<h6 >とりあえず少しでもやったことのあるものをあげています。(一番得意なのはJava)</h6>
		<p><br></p>
		<h2 >経歴</h2>
		<hr>
			<ul>
				<li>Life is Tech Androidメンター</li>
				<li>プログラミングのアルバイト中</li>
				<li>Tech Camp 第2期卒業</li>
				<li>次のインターン先を探し中。</li>
			</ul>
			<h2 >いま取り組んでいること</h2>
			<hr>
				<ul>
					<li>チームで開発ができるようなシステム</li>
					<li>E-learningWebアプリ開発。</li>
					<li>Electron を使ったWindows, Mac OSXのデスクトップアプリ開発。</li>
					<li>Oss Node.jsソースコードリーディング</li>
				</ul>
				<h2 >いまやるかどうか検討中のこと</h2>
				<hr>
					<ul>
						<li>Apache Cordovaを使ったスマホアプリ開発。</li>
						<li>プログラミング本の輪読<ul>
								<li>パーフェクトRuby</li>
								<li>パーフェクトRuby on Rails　</li>
								<li>パーフェクトJava</li>
								<li>O&#39;REILY Javascript</li>
								<li>JS+Node.jsによるWebクローラー/ネットエージェント開発テクニック</li>
								<li>Code Reading―オープンソースから学ぶソフトウェア開発技法</li>
								<li>プロとして恥ずかしくない　新・CSSデザインの大原則</li>
								<li>仕事の現場でさっと使えるデザイン教科書</li>
								<li>はじめてのNode.js</li>
								<li>レスポンシブWebデザイン</li>
							</ul>
						</li>
						<li>Udacityを使ったプログラミング学習。</li>
						<li>codeacademyをつかった学習<ul>
								<li>Ruby, Ruby on Rails関連。</li>
							</ul>
						</li>
						<li>Docker, Chefによる環境構築。</li>
						<li>Rails習熟度向上。</li>
						<li>チャットアプリの開発。</li>
						<li>マッチングアプリの開発。</li>
					</ul>
				</div>
