<div class="mdl-cell--12-col self_padding-20">
	<video src="/videos/sens_demo.webm"controls></video>
	<h1>アプリ紹介</h1>

<a href="https://play.google.com/store/apps/details?id=laklab.inc.sens" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Release Page beta</a>
<a href="https://github.com/shghdyji/sens" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
	<hr>

		<p>自分やほかの誰かに課されたタスクを受け取る<br>
			期限までできないとfacebookに自動で投稿される。</p>

		<h2>コンセプト</h2>

	<hr>
		<p>集中力をアップさせる。仕事の効率を上げる。勉強を捗らせる。</p>

		<h2>ジャンル</h2>

	<hr>
		<p>タスクマネジメント</p>

		<h2>作ろうと思ったきっかけ</h2>

	<hr>
		<h3>普段の生活にやることはいっぱいある!...でもやる気が。</h3>

		<h3>いまやればいいのについつい先延ばし。</h3>

		<h2>集中している時ってどんな時？</h2>

	<hr>
		<h3>テスト期間中</h3>

		<h3>納期の3日前</h3>

		<h3>他人に見られている時</h3>

		<h2>キーワード</h2>

	<hr>
		<p>時間、恥ずかしさ、追い詰める,</p>

		<h2>技術</h2>

	<hr>
		<p>facebookapiを使用してfacebookの投稿欄からtaskを閲覧可能に!</p>

		<h2>機能</h2>

	<hr>
		<ol>
			<li>自分やほかの誰かに課されたタスクを受け取る</li>
			<li>期限までできないとfacebookに自動で投稿される。</li>
		</ol>
		<img src="/images/shy.png" alt=""></img>
	</div>
