
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href="/self"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">face</i>Self Introduction</a>
          <a class="mdl-navigation__link" href="/message"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Message</a>
          <a class="mdl-navigation__link" href="/works"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Works</a>
          <a class="mdl-navigation__link" href="http://qiita.com/shghdyji"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Qiita</a>
          <a class="mdl-navigation__link" href="https://www.facebook.com/sh.ghdyji"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Facebook</a>
          <div class="mdl-layout-spacer"></div>
        </nav>
