<!-- Image card -->
<style>
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
}
.demo-card-image.mdl-card.works__item_works_dokopro {
  background-image: url('images/dokopro.png') ;
  background-size:100% 100%;
  background-repeat:no-repeat;
}
.demo-card-image.mdl-card.works__item_works_livedoor {
  background-image: url('images/livedoor.png') ;
  background-size:100% 100%;
  background-repeat:no-repeat;
}
.demo-card-image.mdl-card.works__item_works_md-viewer{
  background-image: url('images/markdown.png') ;
  background-repeat:no-repeat;
  background-size:100% 100%;
}
.demo-card-image.mdl-card.works__item_works_sens{
  background-image: url('images/sens.png') ;
  background-repeat:no-repeat;
  background-size:100% 100%;
}
.demo-card-image.mdl-card.works__item_works_drawer{
  background-image: url('images/drawer.png') ;
  background-repeat:no-repeat;
  background-size:100% 100%;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.works__list{
	width:100%;
	text-align:center;
}
.works__item{
	display:inline-block;
	margin: 20px 20px;
}
</style>
<div class="mdl-grid">
	<div class="works__list">
		<div class="works__item">
			<div class="mdl-cell mdl-cell--4-col">
				<a href="/detail/dokopro">
					<div class="demo-card-image mdl-card mdl-shadow--2dp works__item_works_dokopro">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span class="demo-card-image__filename">Dokopro</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="works__item">
			<div class="mdl-cell mdl-cell--4-col">
				<a href="/detail/livedoor">
					<div class="demo-card-image mdl-card mdl-shadow--2dp works__item_works_livedoor">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span class="demo-card-image__filename">LiveDoor全文検索</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="works__item">
			<div class="mdl-cell mdl-cell--4-col">
				<a href="/detail/markdown">
					<div class="demo-card-image mdl-card mdl-shadow--2dp works__item_works_md-viewer">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span class="demo-card-image__filename">Electron MdViewer</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="works__item">
			<div class="mdl-cell mdl-cell--4-col">
				<a href="/detail/sens">
					<div class="demo-card-image mdl-card mdl-shadow--2dp works__item_works_sens">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span class="demo-card-image__filename">Android SENS</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="works__item">
			<div class="mdl-cell mdl-cell--4-col">
				<a href="/detail/drawer">
					<div class="demo-card-image mdl-card mdl-shadow--2dp works__item_works_drawer">
						<div class="mdl-card__title mdl-card--expand"></div>
						<div class="mdl-card__actions">
							<span class="demo-card-image__filename">お絵かき</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
